<section class="Profilesection" style="padding-top: 100px; padding-left: 20px;padding-right: 20px">


                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">
                        <h4 class="m-0" style="color: inherit;">All Automation List
                        
                            <div class="topButtonDv" style="float: right;margin-right: 20px">
                                <a href="javascript:void(0)" ng-click="showCreateScriptModel()" class="btn btn-primary btn-lg" style="padding-top: 5px;padding-bottom: 5px"><i class="fa fa-plus" aria-hidden="true"></i> Create Script</a>
                            </div>
                        </h4>
                    </div>
                    <div class="card-body p-0 pb-3 text-center" style="min-height: 200px;max-height:450px;overflow-y: auto;">
                        <table class="table mb-0 table-striped" ng-if="automationScripts.length >0">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">S.no</th>
                                    <th scope="col" class="border-0">Script Name</th>
                                    <th scope="col" class="border-0">Script Desc</th>
                                    <th scope="col" class="border-0">&nbsp;&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in automationScripts">
                                    <td scope="col" class="border-0">#{{$index + 1}}</td>
                                    <td class="col-xs-3 border-0">{{ row.script_name }}</td>
                                    <td class="col-xs-4 border-0">{{ row.script_desc }}</td>
                                    <td scope="col" class="border-0 justify-content-around d-flex">
                                        <a href="javascript:void(0)" ng-click='editScriptModel(row.id,row.script_name,row.script_desc,row.script,row.companyId)'><img width="20px" src="images/edit_icon.png"/></a>
                                        <a href="javascript:void(0)" ng-click='deleteScriptModel(row.id,$index,row.script_name)'><img width="20px" src="images/delete_icon.png"/></a>
                                        <a ng-click="setScriptId(row.id, row.script)"><button type="button" class="btn btn-info btn-sm">Run</button></a>
                                        <a href="#/scriptHistory" ng-click="setScriptId(row.id)"><button type="button" class="btn btn-info btn-sm">History</button></a>
                                        <a ng-click="assignProjectandServer(row.id)"><button type="button" class="btn btn-info btn-sm">Allocate Project/Server</button></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
</section>


<style type="text/css">
    tr:hover td {background:#cfd9e0}
    html {font-size: 70%; }
</style>