    <div class="logoHeader">
    <div class="logodiv">
        <a href="#/">
                    <img alt="" src="images/logo.png" />
                    </a>
    </div>
    </div>

        <!-- Login Section -->
        <section class="loginsection">
            <div class="content-wrapper">
                <div class="loginBox">
                    <div class="loginLogo"> Reset Your Password</div>
                    <div class="clear">&nbsp;</div>

                 <form name="loginForm" novalidate>
					
					<label >New Password : </label>
				  <input type="password" name="newpwd" ng-model="newpwd" ng-blur="checkPassValidity('newpwd')" maxlength="32">
				  <p class="colorRed">{{ newpwdMsg }}</p>
				  <div class="clear">&nbsp;</div>
				  <label >Confirm Password : </label>
				  <input type="password" name="cnfpwd" ng-model="cnfpwd" maxlength="32">
				  <div class="clear">&nbsp;</div>
				  <input type="button" value="Reset Password" ng-click="resetPassword()" class="blueButton"/>
				  <p class="colorRed">{{ finalpwdMsg }}</p>
				  <div ng-show="pwdResetSuccess">
					<h4>Password reset done.</h4><a href={{loginUrl}}>Go to login page.</a>
				  </div>
	  
                </div>
                
            </div>
            
        </section>
<!-- Login Section End -->